<div class="block">
  <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
          <header>
              <h1 class="page-title">Sign In</h1>
          </header>
          <hr>
          <%= render partial: '/sessions/form' %>
        </div>
    </div>
</div>
