.social .social-button i {
  color: #474747;
  margin-right: 5px;
}

.social .social-button {
  display: inline-block;
}

h3 i {
  color: #ff513f;
  font-size: 14px;
  margin-right: 10px;
  top: -2px;
  position: relative;
}