<div class="container">
  <section id="categories">
    <header><h2>Categories</h2></header>
    <% @categories.each do |category| %>
      <div class="col-md-3">
        <ul class="categories">
          <li class="category-list">
            <strong><%= link_to(category.name.capitalize, category_path(id: category.slug) ) %></strong> 
          </li>
        </ul>
      </div>
    <% end %>
  </section>
</div>

