<header><h2><%= @category.name.capitalize %></h2></header>
<section class="block equal-height">
  <div class="row">
    <% @organisations.each do |organisation| %>
      <%= render 'organisations/show_grid', organisation: organisation %>
    <% end %>
  </div>
</section>